t<h1>{{ 'addGroupWord'|translate }}</h1>
<div class="text-left row animate-repeat" ng-repeat="group in groupsWords">
    <div class="col-md-3 col-md-offset-3">{{group.title}}</div>
    <div class="col-md-4">{{group.description}}</div>
    <div class="col-md-1 col-md-offset-1">
        <button class="glyphicon glyphicon-add" tooltip="{{ 'addGroupWord'|translate }}" ng-click="addGroupWord(group.id)"></button>
        <span class="glyphicon glyphicon-eye-open"  ng-click="addGroupWord(group.id)"></span>{{ 'view'|translate }}
    </div>
</div>
<div ng-include="'blocs/countWord.html'"></div>