<div ng-if="dic">
    <h1>{{ 'welcome'|translate }}</h1>

    <p class="lead">{{ 'addWord.newWord'|translate }}</p>

<div class="row">
  <div class="col-md-12">

    <form ng-submit="processWord()">
        <div class="form-group has-feedback">
            <input type="text" ng-model="formData.word"
                   placeholder="{{ 'addWord.word'|translate  }}" typeahead-min-length="2" typeahead-wait-ms="100"
                   typeahead="word as word.w for word in getWords($viewValue) | filter:{$:$viewValue}"
                   typeahead-loading="loading" typeahead-template-url="listWord.html" class="form-control"
                   required auto-focus>

            <span ng-show="loading" class="glyphicon glyphicon-refresh  form-control-feedback"></span>
        </div>
        <div class="form-group" ng-show="submitCreate">
            {{ 'oops'|translate }}
            <a href="#/improve/{{ formData.word }}" class="btn btn-info input-lg">{{ 'improve.dictionary'|translate }}</a>
        </div>
        <div class="form-group" ng-show="!submitCreate">
            <button type="submit" class="btn btn-success input-lg">{{ 'save'|translate }}</button>
        </div>
    </form>
  </div>
</div>
    <div class="row">
        <div ng-include="'blocs/countWord.html'"></div>
        <div class="col-md-6">
            <div ng-include="'blocs/knowledge.html'"></div>
            <a class="btn btn-primary btn-lg" ng-href="#/createTest">{{ 'addWord.doATest'|translate }}</a>
        </div>
    </div>
</div>

<div ng-if="!dic">
    <h1>Not found</h1>
</div>
<script type="text/ng-template" id="listWord.html">
    <a style="text-align: left">
        <span style="width:120px;float: left" bind-html-unsafe="match.model.w | typeaheadHighlight:query"></span>&nbsp;<=>&nbsp;
        <span bind-html-unsafe="match.model.t | typeaheadHighlight:query"></span>
    </a>
</script>