<h1>Welcome! {{ dic.id }}</h1>
<p class="lead">Enter a new word:</p>
<p class="lead">
<form  ng-submit="processForm()">
    <div class="form-group">
        <input class="form-control" ng-model="formData.word" type="text" name="word" placeholder="{{ 'addword.word'|translate  }}" required>
    </div>
    <div class="form-group">
        <input class="form-control" ng-model="formData.translation" type="text" name="word" placeholder="{{ 'addword.translation'|translate  }}">
        <a href="" tooltip-placement="top" tooltip="Some help!"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <button type="submit"  class="btn btn-success input-lg" >Save!</button>
</form>
</p>
<p class="lead"><a href="{{ path('dictionary', { 'id': dictionary.id }) }}" >View your dictionary ({{ dic.countWord }})</a></p>
<p class="lead">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        {{ 'addword.doATest'|translate  }}
    </button>
</p>
