<h1>{{'Congrats'|translate }}</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2 align-center">
        <h2>{{ socre }}% test result</h2>

        <a class="btn btn-primary btn-lg" ng-href="#/" >{{ 'goHome'|translate  }}</a>
        <a class="btn btn-primary btn-lg" ng-click="doItAgain()" >{{ 'doItAgain'|translate  }}</a>
        <a class="btn btn-primary btn-lg" ng-href="#/createTest" >{{ 'doAnotherTest'|translate  }}</a>
        <a class="btn btn-primary btn-lg" ng-href="#/addGroupWord" >{{ 'addGroupWord'|translate  }}</a>
        {{ 'globalResult'|translate  }}: <div ng-include="'blocs/knowledge.html'"></div>
    </div>
</div>