<h1>{{'createTest'|translate }}</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2 align-center">
        <h2>Check your knowledge on<br>
        <span ng-click="changeNbQuestion(-5)" class="pointer glyphicon glyphicon-minus"></span>
            &nbsp;{{ nbquestion }}&nbsp;
        <span ng-click="changeNbQuestion(5)" class="pointer glyphicon glyphicon-plus"></span>
        <br>
        words</h2>
    <button ng-click="startTest()" class="btn btn-success input-lg">{{ 'start'|translate }}</button>
    </div>
</div>
