<h1>{{'createTest'|translate }}</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3 align-center">        
        Check your acknoledge on 
        <a href="" ng-click="nbquestion = nbquestion - 1" ><span class="glyphicon glyphicon-minus"></span></a>
        <big>{{ nbquestion }}</big>
        <a href="" ng-click="nbquestion = nbquestion + 1" ><span class="glyphicon glyphicon-plus"></span></a>
        words<br>
    <button ng-click="startTest()" class="btn btn-success input-lg">{{ 'start'|translate }}</button>
    </div>
</div>

<div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
         aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% Complete (success)</span>
    </div>
</div>