<h1>{{ 'yourDictionary'|translate }}</h1>
<input class="form-control" type="search" ng-model="q" placeholder="filter words..."/>
        <br>
<div class="text-left row animate-repeat" ng-repeat="word in words | filter:q">
    <div class="row" ng-hide="delete"  ng-class-odd="'odd'">
        <div class="col-md-6">{{word.word}}</div>
        <div class="col-md-4">{{word.translation}}</div>
        <div class="col-md-1 col-md-offset-1">
            <span class="pointer glyphicon glyphicon-remove"
                  ng-click="delete = ! delete;deleteWord(word.id)"></span>
        </div>
    </div>
</div>
<a ng-href="#/addGroupWord"><span class="glyphicon glyphicon-flash"></span>{{ 'addGroupWord'|translate }}</a>