<h1>{{ 'yourDictionary'|translate }}</h1>
<input class="form-control" type="search" ng-model="q" placeholder="filter words..."/>
<div class="text-left row animate-repeat" ng-repeat="word in words.words | filter:q">
    <div class="col-md-3 col-md-offset-3">{{word.word}}</div>
    <div class="col-md-4">{{word.translation}}</div>
    <div class="col-md-1 col-md-offset-1"><span class="glyphicon glyphicon-remove"></span></div>
</div>
<a ng-href="#/addGroupWord" ><span class="glyphicon glyphicon-flash"></span>{{ 'addGroupWord'|translate }}</a>