    <h1>{{ 'slogan'|translate  }}</h1>
    <p class="lead">{{ 'homepage.explication1'|translate  }}</p>
    <p class="lead">
    <form class="form-inline" ng-submit="processForm()">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">{{ 'email.address'|translate  }}</label>
            <input class="form-control input-lg" ng-model="formData.email" type="email" name="email" placeholder="Email Address">
        </div>
        <button type="submit"  class="btn btn-success input-lg" >{{ 'go'|translate  }}</button>
    </form>
    </p>
    <p class="lead">{{ 'homepage.explication2'|translate  }}</p>