<div ng-if="user">
    <h1>{{ 'improve.newWord'|translate }}</h1>
    <img src="img/fcw.svg" width="60px"/>Free Cultural Works
    <form ng-submit="improve()">
        <div id="sensesList">
        <sense-form ng-repeat="wordSense in wordSenses" ></sense-form>
        </div>
        <div class="form-group">
            <a ng-click="addTransaltion()" class="btn btn-success input-lg">{{ 'addSense'|translate }}</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success input-lg">{{ 'save'|translate }}</button>
        </div>
        {{ 'needHelp'|translate }}<a >{{ 'viewExample'|translate }}</a>
    </form>
</div>