<div ng-if="dic">
    <h1>{{ 'improve.newWord'|translate }}</h1>

view example
    <form ng-submit="processWord()">
        <div class="row">
  <div class="col-xs-12 col-md-4">
      <input type="text" ng-model="word" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
            <select ng-model="wordType" >
            <option>{{ 'noun'|translate }}</option>
            <option>{{ 'adjective'|translate }}</option>
            <option>{{ 'verb'|translate }}</option>
            </select>
      </div>
  <div class="col-xs-12 col-md-4">
            <input type="text" ng-model="definition" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
            </div>
  <div class="col-xs-12 col-md-4">
                      <input type="text" ng-model="translation" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
</div>
</div>
        <div class="form-group" >
            <button type="submit" class="btn btn-success input-lg">{{ 'save'|translate }}</button>
        </div>
    </form>
</div>