<div ng-if="user">
    <h1>{{ 'improve.newWord'|translate }}</h1>
    <p class="lead">{{ 'addWord.newWord'|translate }}</p>

    <form ng-submit="improve()">
        <div id="sensesList" class="form-group">
            <sense-form ng-repeat="wordSense in wordSenses"></sense-form>
        </div>
        <div class="form-group">
            <button ng-click="addTransaltion()" class="btn btn-success input-lg">{{ 'addSense'|translate }}</button>
            <button type="submit" class="btn btn-success input-lg">{{ 'save'|translate }}</button>
        </div>
        {{ 'needHelp'|translate }} <a>{{ 'viewExample'|translate }}</a>

        <div class="row">
            <div class="col-md-12"><img src="img/fcw.svg" width="50px"/>Free Cultural Works
            </div>
        </div>
    </form>
</div>