<h1>{{'WhatDoesItMeans'|translate }} ?</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2 align-center">
        <h2>{{ i+1 }})&nbsp;{{ word.w }}</h2>

    <div class="row" ng-if="step == 1">
        <div class="col-md-8 col-md-offset-2 align-center">
            <button ng-click="getAnswer()" class="btn btn-success input-lg">{{ 'getAnswer'|translate }}</button>
        </div>
    </div>        
    <div class="row" ng-if="step == 2">
        <br>
        {{'goodAnswer'|translate }}<b>{{ word.t }}</b>
        <div class="col-md-8 col-md-offset-2 align-center">
            <button ng-click="saveResult(0)" class="btn btn-warning input-lg">{{ 'IDontRemenber'|translate }}</button>
            <button ng-click="saveResult(1)" class="btn btn-success input-lg">{{ 'IGotIt'|translate }}</button>
        </div>
    </div>
        
    </div>
</div>
<br>
<div class="progress progress-striped">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0"
         aria-valuemax="100" style="width: {{ progress }}%">
        <span class="sr-only">{{ progress }}% Complete</span>
    </div>
</div>