<h1>{{'WhatDoesItMeans'|translate }}</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2 align-center">
        <h2>{{ word }}</h2>
        <button ng-click="startTest()" class="btn btn-success input-lg">{{ 'start'|translate }}</button>
        <button ng-click="startTest()" class="btn btn-success input-lg">{{ 'start'|translate }}</button>
    </div>
</div>

<div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
         aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% Complete</span>
    </div>
</div>