<div>
    <h1>{{ wordSenses.0.w }}</h1>
    view example
    <form ng-submit="processWord()">
        <div class="text-left row animate-repeat" ng-class-odd="'odd'" ng-repeat="wordSense in wordSenses">
            <div ng-class-odd="'odd'" >
                <div class="col-xs-9 col-md-3 no-gutter">
                    {{ wordSense.w }}
                </div>

                <div class="col-xs-3 col-md-1 no-gutter">
                </div>
                <div class="col-xs-12 col-md-4">
                    {{ wordSense.sense }}
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="text-left row animate-repeat" ng-repeat="t in wordSense.concat| split">
                        {{ t }},&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success input-lg">{{ 'save'|translate }}</button>
        </div>
    </form>
</div>