<div>
    <h1>{{ word| capitalize }}</h1>
        <div class="text-left row animate-repeat" ng-class-odd="'odd'" ng-repeat="wordSense in wordSenses">
            <div ng-class-odd="'odd'" >
                <div class="col-xs-9 col-md-3 no-gutter">
                    {{ wordSense.w| capitalize }}
                </div>

                <div class="col-xs-3 col-md-1 no-gutter">
                </div>
                <div class="col-xs-12 col-md-4">
                    {{ wordSense.sense }}
                </div>
                <div class="col-xs-12 col-md-4">
                        {{ wordSense.concat }}&nbsp;
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12">
                <div class="form-group">
                    <br>
                    <a href="#/improve/{{ word }}" class="btn btn-success btn-sm">{{ 'edit'|translate }}</a>
                </div>
            </div>
        </div>
</div>