<div ng-if="user.dic.id == dic.id"><h1>{{ 'yourDictionary'|translate }}</h1></div>
<div ng-if="user.dic.id != dic.id"><h1>{{ 'group'|translate }}: {{ dic.title }}</h1></div>
<go-home></go-home>&nbsp;&nbsp;
<a ng-if="user.dic.id != dic.id" ng-href="#/wordList/{{ user.dic.id }}">-&nbsp;&nbsp;{{ 'backToYourDictionary'|translate }}</a>
<input class="form-control" type="search" ng-model="q" placeholder="filter words..."/>
<br>
<div ng-cloak id="wordList" class="text-left animate-repeat" ng-repeat="word in words | filter:q | limitTo: 20">
    <div class="row" ng-hide="delete" ng-class-odd="'odd'">
        <div class="col-md-3"><a href="#/word/{{ word.id }}">{{word.w| capitalize }}</a></div>
        <div class="col-md-5">{{word.concat| capitalize }}</div>
        <div class="col-md-1" ng-if="word.stat_sum_realised">{{ (word.stat_sum_realised*100)| number:1 }}%</div>
        <div class="col-md-1" ng-if="!word.stat_sum_realised">-</div>
        <div class="col-md-1" ng-if="word.global">{{ (word.global*100)| number:1 }}%</div>
        <div class="col-md-1" ng-if="!word.global">-</div>
        <div class="col-md-1 col-md-offset-1">
            <span class="pointer glyphicon glyphicon-plus" ng-if="user.dic.id != dic.id"
                  ng-click="addWord(word.w)" tooltip="{{ 'addWord'|translate }}"></span>
                  
            <!-- delete from dic.id (dictionary or group) -->
            <span  ng-if="user.dic.id == dic.id || (user.dic.id != dic.id && user.id == dic.uid)" class="pointer glyphicon glyphicon-remove"
                  ng-click="deleteWord(word)"></span>
        </div>
    </div>
</div>
<br>
<br>
<go-home></go-home>&nbsp;&nbsp;-&nbsp;&nbsp;
<a ng-href="#/group/list"><span class="glyphicon glyphicon-flash"></span>{{ 'addGroupWord'|translate }}</a>
