<div ng-if="user.dic.id == dic.id"><h1>{{ 'yourDictionary'|translate }}</h1></div>
<div ng-if="user.dic.id != dic.id"><h1>{{ 'group'|translate }}: {{ dic.title }}</h1></div>
<go-home></go-home>&nbsp;&nbsp;
<a ng-if="user.dic.id != dic.id" ng-href="#/wordList/{{ user.dic.id }}">-&nbsp;&nbsp;{{ 'backToYourDictionary'|translate }}</a>
<input class="form-control" type="search" ng-model="q" placeholder="filter words..."/>
<br>
<div ng-cloak id="wordList" class="text-left animate-repeat" ng-repeat="word in words | orderBy:w | filter:q | limitTo: 20  track by word.id">
    <div class="row" ng-hide="delete" ng-class-odd="'odd'">
        <div class="col-md-2"><a href="#/word/{{ word.w }}">{{word.w| capitalize }}</a></div>
        <div class="col-md-5">{{word.concat| capitalize }}</div>
        <div class="col-md-1"><score percent="word.stat_sum_realised"></score></div>
        <div class="col-md-1"><score percent="word.global"></score></div>
        <div class="col-md-1 col-md-offset-1">
            <span ng-if="user.dic.id != dic.id && user.dic.wids.indexOf(word.id) == -1"
                  ng-click="addWord(word.w)" tooltip="{{ 'addWord'|translate }}" class="pointer glyphicon glyphicon-plus"></span>
               
        </div>   
        <div class="col-md-1">
            <!-- delete from dic.id (dictionary or group) -->
            <span ng-if="user.dic.id == dic.id || (user.dic.id != dic.id && user.id == dic.uid)" 
                  ng-click="deleteWord(word)" tooltip="{{ 'remove'|translate }}" class="pointer glyphicon glyphicon-bin"></span>
        </div>
    </div>
</div>
<br>
<br>
<go-home></go-home>&nbsp;&nbsp;-&nbsp;&nbsp;
<a ng-href="#/group/list"><span class="glyphicon glyphicon-flash"></span>{{ 'addGroupWord'|translate }}</a>
